[Unit]
Description=Vitro Listener Test
After=network.target

[Service]
Type=forking

User=tomcat
Group=tomcat

Environment="JAVA_HOME=/usr/lib/jvm/default-java"
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom -Djava.awt.headless=true"

ExecStart=/home/vagrant/provision/vitro-listener-test/vlt-start.sh
ExecStop=/home/vagrant/provision/vitro-listener-test/vlt-stop.sh

[Install]
WantedBy=multi-user.target